    .pure-button-primary{
        margin: 5px;
        margin-left: 0;
    }
    .test{
        box-sizing: border-box;
        margin-top: 8%;
        margin-left: 20%;
        padding-left:8%;
        padding-bottom: 1%;
        border: 2px solid white;
        width: 60%;
        color:white;
    }
    #testFrame{
        height: 350px;
        box-sizing: border-box;
    }
    #question1,#question2,#question3,#question4,#question5,#analyzing,#result{
        display: none;
    }
    h2, td{
        color: white;
    }
    #membership{
        box-sizing: border-box;
        padding-top: 70px;
        margin-left: 10%;
    }
     @media (max-width: 62em){
         #testFrame{
             height: 500px;
         }
         #result{
             width: 70%;
         }
     }